<div class="container" [ngClass]="{'collapsed': collapse}">
  <div class="button-container">
    <basic-modal [title]="'Add'" [headerText]="'Add custom tour'" (sendRowToAdd)="addRow($event)" [formData]="dataToDisplay"></basic-modal>
    <basic-modal [headerText]="'Edit your trip'" [disableButton]='disableEdit' [title]="'Edit'" (sendRowToEdit)="editRow($event)" [formData]="dataToDisplay"></basic-modal>
    <confirm-modal #modal [title]="'Delete rows'" (sendData)="sendDeletedRows($event)" [description]="'Are you sure you want to delete ' + rowsToDelete + ' rows?'"></confirm-modal>
    <button class="btn" [disabled]='disableDelete' (click)="deleteRow()">Delete <span *ngIf="rowsToDelete">({{ rowsToDelete }})</span></button>
  </div>
  <table #table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr class="title">
        <th *ngIf="editable" class="disable"></th>
        <th *ngFor="let column of data.columns">{{column.value}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-clickable" *ngFor="let row of data.rows; let i = index" (click)="selectRow(row)">
        <ng-container *ngIf="editable">
          <td class="circle">
            <div *ngIf="row.isSelected" class="circle-inner">
            </div>
          </td>
        </ng-container>
        <td *ngFor="let col of data.columns">  {{row[col.key]}}</td>
      </tr>
    </tbody>
  </table>
</div>
