<header>
    <app-header [activeNumber]="'3'"></app-header>
    <!-- <div class="col-md-2">
        <mat-checkbox #checkBox (click)="checked()" style="position: relative; left: 0px;">Report For Drivers
        </mat-checkbox>
    </div>
    <div class="col-md-2">
        <mat-checkbox #checkBox (click)="checked2()" style="position: relative; left: 0px; top:20px;">
            Report For Hotel</mat-checkbox>
    </div>
    <section class="form-section" *ngIf="formData">
        <div [formGroup]="raportsForm" class="search-form yco-form-container">
            <div class="form-upper-part">
                <ng-container *ngFor="let item of formData; let idx = index" [ngSwitch]="item.key">
                    <div class="input-container currency" *ngSwitchCase="'currency'" [ngClass]="{'error': raportsForm.controls.currency.dirty && !raportsForm.controls.currency.valid}">
                        <input type="hidden" formControlName="currency" />
                        <label for="currency">CURRENCY&nbsp;*</label>
                    </div>
                    <div class="input-container number" *ngSwitchCase="'min_rate'" [ngClass]="{'error': (raportsForm.controls.min_rate.dirty && !raportsForm.controls.min_rate.valid) || formInvalid}">
                        <svg-icon [iconType]="freeTextIcon"></svg-icon>
                        <input (keydown)="lockSpefificCharsOnIntegers($event)" type="number" formControlName="min_rate" (inputValue)="raportsForm.controls.min_rate.patchValue($event)" [value]="item.value ? item.value : ''" [placeholder]="item.label | titlecase" class="input-value">
                        <label for="min_rate">MIN RATE&nbsp;*</label>
                    </div>
                    <div class="input-container number" *ngSwitchCase="'max_rate'" [ngClass]="{'error': (raportsForm.controls.max_rate.dirty && !raportsForm.controls.max_rate.valid) || formInvalid}">
                        <svg-icon [iconType]="freeTextIcon"></svg-icon>
                        <input (keydown)="lockSpefificCharsOnIntegers($event)" type="number" formControlName="max_rate" (inputValue)="raportsForm.controls.max_rate.patchValue($event)" [value]="item.value ? item.value : ''" [placeholder]=" item.label | titlecase" class="input-value">
                        <label for="max_rate">MAX RATE</label>
                    </div>
                    <div class="input-container number" *ngSwitchCase="'base_port'" [ngClass]="{'error': (raportsForm.controls.base_port.dirty && !raportsForm.controls.base_port.valid) || formInvalid}">
                        <svg-icon [iconType]="freeTextIcon"></svg-icon>
                        <input type="text" formControlName="base_port" (inputValue)="raportsForm.controls.base_port.patchValue($event)" [value]="item.value ? item.value : ''" [placeholder]=" item.label | titlecase" class="input-value">
                        <label for="base_port">BASE PORT</label>
                    </div>
                </ng-container>
            </div>
        </div>
    </section> -->
    <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!driverRepo
    <div class="row time">
        <div class="col-md-1"></div>
    <div class="col-md-4 dateInput">
      <section class="inputs2">
            <label>
                    Date Time Range From:
                    <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                           ngModel name="FromDate"
                           [selectMode]="'rangeFrom'">
                    <owl-date-time #dt12></owl-date-time>
                </label>
      </section>
    </div>
    <div class="col-md-1">
    <a *ngIf="download" class="button button-red download" [href]="url | safe:'url'"><img src="https://img.icons8.com/ios/32/000000/download-from-cloud.png"></a>
    </div>
    <div class="col-md-4 dateInput">
      <section class="inputs2">
            <label>
                    Date Time Range To:
                    <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                           ngModel name="ToDate"
                           [selectMode]="'rangeTo'">
                    <owl-date-time #dt13></owl-date-time>
                </label>
      </section>
    </div>
    </div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-4 reportType">
          <mat-form-field>
              <mat-label>Report Type</mat-label>
              <mat-select class="reportTypeSelect" ngModel name="reportType">
                <mat-option *ngFor="let food of foods" [value]="food.value" required>
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="!driverReport">
    <div class="col-md-12">
    <section class="buttonAnimated sumbitBtn">
      <button type="submit" >
        <span class="text">GeneratePDF</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </button>
    </section>
    </div>
    </div>
    </form>

          <form *ngIf="!driverRep& !hotelReport" (ngSubmit)="onSubmit3(f)" #f="ngForm">
              <div class="row time">
                  <div class="col-md-1"></div>
              <div class="col-md-4 dateInput">
                <section class="inputs2">
                      <label>
                              Date Time Range From:
                              <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                                     ngModel name="FromDate"
                                     [selectMode]="'rangeFrom'">
                              <owl-date-time #dt12></owl-date-time>
                          </label>
                </section>
              </div>
              <div class="col-md-1">
              <a *ngIf="download" class="button button-red download" [href]="url | safe:'url'"><img src="https://img.icons8.com/ios/32/000000/download-from-cloud.png"></a>
              </div>
              <div class="col-md-4 dateInput">
                <section class="inputs2">
                      <label>
                              Date Time Range To:
                              <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                                     ngModel name="ToDate"
                                     [selectMode]="'rangeTo'">
                              <owl-date-time #dt13></owl-date-time>
                          </label>
                </section>
              </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                  <section class="buttonAnimated sumbitBtn">
                    <button type="submit" >
                      <span class="text">GeneratePDF</span>
                      <span class="line -right"></span>
                      <span class="line -top"></span>
                      <span class="line -left"></span>
                      <span class="line -bottom"></span>
                    </button>
                  </section>
                  </div>
                  </div>
              </form>
              <form *ngIf="driverReport" (ngSubmit)="onSubmit2(f)" #f="ngForm">
                <div class="row time">
                    <div class="col-md-1"></div>
                <div class="col-md-4 dateInput">
                  <section class="inputs2">
                        <label>
                                Date Time Range From:
                                <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                                       ngModel name="FromDate"
                                       [selectMode]="'rangeFrom'">
                                <owl-date-time #dt12></owl-date-time>
                            </label>
                  </section>
                </div>
                <div class="col-md-1">
                <a *ngIf="download" class="button button-red download" [href]="url | safe:'url'"><img src="https://img.icons8.com/ios/32/000000/download-from-cloud.png"></a>
                </div>
                <div class="col-md-4 dateInput">
                  <section class="inputs2">
                        <label>
                                Date Time Range To:
                                <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                                       ngModel name="ToDate"
                                       [selectMode]="'rangeTo'">
                                <owl-date-time #dt13></owl-date-time>
                            </label>
                  </section>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 reportType">
                        <mat-form-field>
                            <mat-label>Report Type</mat-label>
                            <mat-select class="reportTypeSelect" ngModel name="type">
                              <mat-option *ngFor="let raportType of raportTypes" [value]="raportType.value" required>
                                {{raportType.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-4 reportType">
                        <mat-form-field>
                            <mat-label>Raport Of User</mat-label>
                            <mat-select class="reportTypeSelect" ngModel name="driverId">
                              <mat-option *ngFor="let driver of drivers" [value]="driver.id" required>
                                {{driver.email}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                  </div>
                <div class="row">
                    <div class="col-md-12">
                    <section class="buttonAnimated sumbitBtn">
                      <button type="submit" >
                        <span class="text">Raport For Drivers</span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span>
                      </button>
                    </section>
                    </div>
                    </div>
                </form>
                <form *ngIf="hotelReport" (ngSubmit)="submitHotel(j)" #j="ngForm">
                  <div class="row time">
                      <div class="col-md-1"></div>
                  <div class="col-md-4 dateInput">
                    <section class="inputs2">
                          <label>
                                  Date Time Range From:
                                  <input [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                                         ngModel name="FromDate"
                                         [selectMode]="'rangeFrom'">
                                  <owl-date-time #dt12></owl-date-time>
                              </label>
                    </section>
                  </div>
                  <div class="col-md-1">
                  <a *ngIf="download" class="button button-red download" [href]="url | safe:'url'"><img src="https://img.icons8.com/ios/32/000000/download-from-cloud.png"></a>
                  </div>
                  <div class="col-md-4 dateInput">
                    <section class="inputs2">
                          <label>
                                  Date Time Range To:
                                  <input [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                                         ngModel name="ToDate"
                                         [selectMode]="'rangeTo'">
                                  <owl-date-time #dt13></owl-date-time>
                              </label>
                    </section>
                  </div>
                  </div>
                  <div class="row">
                      <div class="col-md-2"></div>
                      <div class="col-md-4 reportType">
                          <mat-form-field>
                              <mat-label>Report Type</mat-label>
                              <mat-select class="reportTypeSelect" ngModel name="type">
                                <mat-option *ngFor="let raportType of raportTypes" [value]="raportType.value" required>
                                  {{raportType.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                      <div class="col-md-1"></div>

                      <div class="col-md-4 reportType">
                          <mat-form-field>
                              <mat-label>Choose Hotel</mat-label>
                              <mat-select class="reportTypeSelect" ngModel name="hotelName">
                                <mat-option *ngFor="let hotel of receptionist" [value]="hotel.name" required>
                                  {{hotel.email}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </div>
                    </div>
                  <div class="row">
                      <div class="col-md-12">
                      <section class="buttonAnimated sumbitBtn">
                        <button type="submit" >
                          <span class="text">Raport For Hotels</span>
                          <span class="line -right"></span>
                          <span class="line -top"></span>
                          <span class="line -left"></span>
                          <span class="line -bottom"></span>
                        </button>
                      </section>
                      </div>
                      </div>
                  </form> -->
</header>
