@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    box-sizing: border-box;
}
$color2: #F8A93F;
$color:#3694d7;
$textCol : #000;
$logoutColor: #fff;
$timing:.3s;
$textColor : rgb(14, 4, 100);
.log-in{
  position: relative;
  top:-2em;
  display: flex;
margin:5px 0 0 0 ;
}
.row {
    width: 100%;
  }

  .animated-button{
      height: 52px;
  }
a.animated-button:link, a.animated-button:visited {
    z-index: 2;
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: $textColor;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: $logoutColor;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button.victoria-three {
	border: 2px solid $color2;
}
a.animated-button.victoria-three:after {
	background: $color2;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
    opacity: 1;
}
select{
  text-align: center;
width: 270px;
  border-color: transparent;
text-align-last:center;
 }

/*Dropdown */
.dropdown-el {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
    margin-top:30vh;
      z-index: 1;
    min-width: 12em;
    display: inline-block;
    margin-right: 1em;
    min-height: 3em;
    max-height:3em;
    overflow:hidden;
    top: .5em;
    left:16%;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    color: $textCol;
    outline: none;
    border-bottom: 2px solid #3f51b5;
    background-color:transparent;
    transition: $timing all ease-in-out;
    position: absolute;

  }
  #required-input{

  border: none;
    outline: none;
    background-color:transparent;
    border-bottom: 2px solid #3f51b5;
  }
  .form-group label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: $textCol;
  }
  .container-y {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .numberOfPpl{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top:15rem;
    left: -5rem;
    z-index: 10;
    @media screen and (max-width: 767px) {
    left: 1rem;
    }
  }
  .dropdown-elem {
    font-family: 'Montserrat', sans-serif;
  font-weight: 600;
      z-index: 1;
    min-width: 12em;
    margin-right: 1em;
    min-height: 3em;
    max-height:3em;
    overflow:hidden;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    color: $textCol;
    outline: none;
    border-bottom: 2px solid #3f51b5;
    background-color:transparent;
    transition: $timing all ease-in-out;
  }
  .inputs{
      position: relative;
      top:43vh;
display: flex;
    justify-content: center;
    margin-left:-22%;

      .form-group{
        margin-left:12%;

        input{
          min-height: 35px;
        font-size: 2rem;
        color:rgb(0, 0, 0);
       font-family: 'Montserrat', sans-serif;
        }
      label {
          color:rgb(0, 0, 0);
       font-family: 'Montserrat', sans-serif;
        font-size: 2.4rem;
        padding-right: 10px;
        margin-top:-5px;
      }
    }
  }
  .phoneInput{
    position: relative;
    left:-3.3%;
  }
  /* Form */

   $colorError: rgb(236, 69, 69);
   $colorPrimary: #2eec96;
    $selection-color: #abffd9;
    $unitless-max-font-size: 18;



input {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.75rem;
}


form h1 {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-lighter);
    font-size: var(--font-size-3);
    text-align: center;
}

input {
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.75rem;
}

.help-text {
    display: block;
    margin-top: 0.5rem;
    margin-left:41%;
    font-size: var(--font-size-small);
}
.help-text2 {
  margin-left:48%;

}
input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(1rem);
}

.flight {
  position: relative;
  top: 22px;
  @media screen and (max-width: 1159px) {
    top:0;
  }
}

input:required + .help-text::before  {
    content: '*Required';
}



input:valid {
    border-color: $colorPrimary;
    background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

input:invalid  {
    border-color: $colorError;
    background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

input:invalid:focus  {
    border-color:$colorError;
}

input:invalid + .help-text {
    color: $colorError;
}
input:valid + .help-text {
  color: $colorPrimary;
}

input[type='tel']:invalid + .help-text::before {
    content: 'You must enter a valid phone number.'
}

input:out-of-range + .help-text::before {
    content: 'Out of range';
}

input[type='checkbox'] + label {
    user-select: none;
}


$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
.buttonAnimated {
  position: relative;
  top:45vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  #price{
    width: 100px;
    color: #0e0464;
    padding-top: 54px;
  }
  #flightNumber{
    padding-left: 3px;
  }
  button {
    text-decoration: none;
    color: $textColor;
    padding: $pad $extra;
    display: inline-block;
    border: $thick solid transparent;
    position: relative;
    font-size: 2em;
    cursor: pointer;
    letter-spacing: 0.07em;
    font-weight:600;
    .text {
      // padding: 0 0.3em;
      font-family: 'Montserrat', sans-serif;
      transform: translate3d(0,$pad,0);
      display: block;
      transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
    }

    &:after {
      position: absolute;
      content: '';
      bottom: -$thick;
      left: $extra;
      right: $extra;
      height: $thick;
      background: $color2;
      // z-index: -1;
      transition:
        transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
        right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
        left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
      transform-origin: left;
    }

  }

  .line {
    position: absolute;
    background: $color2;

    &.-right,
    &.-left {
      width: $thick;
      bottom: -$thick;
      top: -$thick;
      transform: scale3d(1,0,1);
    }

    &.-top,
    &.-bottom {
      height: $thick;
      left: -$thick;
      right: -$thick;
      transform: scale3d(0,1,1);
    }

    &.-right {
      right: -$thick;
      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
      transform-origin: top;
    }

    &.-top {
      top: -$thick;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left;
    }

    &.-left {
      left: -$thick;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom;
    }

    &.-bottom {
      bottom: -$thick;
      transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
      transform-origin: right;
    }
  }

  button:hover,
  button:active {

    .text {
      transform: translate3d(0,0,0);
      transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
    }

    &:after {
      transform: scale3d(0,1,1);
      right: -$thick;
      left: -$thick;
      transform-origin: right;
      transition:
        transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
        right 0.2s cubic-bezier(1,0,.65,1.01),
        left 0s 0.3s;
    }

    .line {
      transform: scale3d(1,1,1);

      &.-right {
        transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
        transform-origin: bottom;
      }

      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
      }

      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
      }

      &.-bottom {
        transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
        transform-origin: left;
      }
    }

  }
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
$colorx : #F8A93F;
$textColor : rgb(14, 4, 100);
h1{
  display: inline-block;
    position: absolute;
    font-family: 'Baloo Chettan', cursive;

    background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.13, rgb(71, 40, 250)),
    color-stop(0.76, rgb(22, 61, 145))
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    top:7vh;
    font-size: 5rem;
    font-weight: 700;
    z-index: 24;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    height: 100vh;
    background: url('http://yea.com.pl/wp-content/uploads/2019/04/abstract-art-background-696644.jpg') center;
    background-position-y: 20%;
}
#calendar {
    position: absolute; /* Position them relative to the browser window */
    transition: 0.3s; /* Add transition on hover */
    width: 150px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 1.6rem; /* Increase font size */
    color: #000; /* White text color */
    font-weight: 600;
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    top: 20px;
    background-color: $colorx;
    font-family: 'Montserrat', sans-serif;
    z-index: 30;

  }


  /* The about link: 20px from the top with a green background */
  #pricing {
    position: absolute; /* Position them relative to the browser window */
    transition: 0.3s; /* Add transition on hover */
    width: 120px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size:1.6rem; /* Increase font size */
    color: #000; /* White text color */
    font-weight: 600;
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    top: 80px;
    background-color: rgb(56, 53, 241); /* Blue */
    font-family: 'Montserrat', sans-serif;
    z-index: 26;
  }

  .icons{
    margin-bottom: 5px;
    float: right;
  }
  #chooseRide{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 25;
    top:20vh;
    left: -16vh;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label{
    color: $textCol;
  }

  .imgResponsive {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin-top: -40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    .responsive {
      height: 10vh;
      a{
      img{
        z-index: 21;
        align-content: center;
        align-items: center;
        max-width:72%;
        height: 18vh;
        position: relative;
        top:-35vh;
        opacity: 0.8;
        transform: scale(1, 1);
        transition: 0.3s;
        left:7vh;
        &:hover {
          opacity: 1;
          transform: scale(1.1, 1.1);
          filter: brightness(120%);
        }

      }
    }


    }
  }
  .mat-form-field {
    font-weight: 600;
  }
  input:-webkit-autofill {
    background-color: transparent !important;
  }


  @media (max-width: 1649px) {
    .buttonAnimated {
      left:-1%
    }
    #chooseRide {
      left: -9%;
    }
  }
  @media (max-width: 1649px) {
    .buttonAnimated {
      left:2%
    }
    .imgResponsive .responsive a img {
      left: 10vh;
    }
    #chooseRide {
      left: -6%
    }
  }
  @media (max-width: 963px) {

    .dropdown-el{
      margin-left: -34px;
    }
    a.animated-button:link, a.animated-button:visited {
      font-size: 12px;
    }
  }
  @media (max-width: 919px) {

    .dropdown-el{
      margin-left: -53px;
    }
    .tripDiv {
      margin-left: 20px;
    }
    .buttonAnimated {
      left:4%
    }
  }
  @media (max-width: 767px) {
    #chooseRide {
      left: 5%;
  }
  a.animated-button:link, a.animated-button:visited{
 left: 39vh;
  }
  .dropdown-el {
    margin-left: 21%;
}
    .tripDiv {
      margin-top: 33%;
    }
    .buttonAnimated {
      left:5%
    }
  }

  @media (max-width: 713px) {
    .tripDiv {
      margin-top: 35vh;
    }
    a.animated-button:link, a.animated-button:visited{
      left: 33vh;
       }

  }
  a.animated-button:link, a.animated-button:visited{
  @media (max-width: 619px) {
    left: 30vh;
  }
  @media (max-width: 543px) {
    left: 25vh;
  }
  @media (max-width:457px) {
    left: 20vh;
  }
  @media (max-width:383px) {
    left: 15vh;
  }
  @media (max-width:320px) {
    left: 11vh;
  }
     }

     @media (max-width: 639px) {
    .dropdown-el {
      margin-left: 17%;
  }
}
  @media (max-width: 626px) {
    .container-y {
      flex-wrap: wrap;
      :last-child {
        margin-top:15px;
      }
    }
    .log-in {
      top: -3.2em;
    }
    .header {
      height: 778px;
    }
    }
    @media (max-width:551px) {
      .dropdown-el {
        margin-left: 14%;
    }
      }
  @media (max-width:500px) {
      .dropdown-el {
        margin-left: 12%;
    }

      }
@media (max-width:407px) {
  #chooseRide {
      left: 9%;
  }
  .dropdown-el {
    margin-left: 8%
  }
  .buttonAnimated {
    left: 9%;
  }
}
@media (max-width: 378px) {
  .container-y {
    :last-child {
  margin-left: 8%;
    }
  }
  .header {
    height:890px;
  }
}
@media (max-width:330px) {
  #chooseRide {
      left: 9%;
  }
  .dropdown-el {
    margin-left: 0%
  }
  .buttonAnimated {
    left:11%;
  }
  .imgResponsive .responsive a img {
    left: 7vh;
}
}
@media (width:360px) {
  #chooseRide {
      left: 9%;
  }
  .dropdown-el {
    margin-left: 0%
  }
  .buttonAnimated {
    left:11%;
  }
  .imgResponsive .responsive a img {
    left: 7vh;
}
}
@media (min-width:1700px) {

  .dropdown-el {
    left:23%;
  }
  .buttonAnimated {
    left:-2vh;
  }
  .imgResponsive .responsive a img {
    left: 6vh;
}
}
