@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '../shared/styles/variables';
h3 {
    margin: 0 0 10px;
}

.header {
    position: relative;
}

.calendar {
    position: relative;
    top: 10px;
    padding-left: 110px;
    width: 95%;
    transition: $transition-300;
    &.collaped {
        padding-left: 210px;
    }
}

.modal-body,
.modal-header,
.modal-footer {
    background-color: hsl(0, 0%, 91%);
}

.jsonShow {
    display: flex;
    background-color: hsl(0, 0%, 93%);
    margin-bottom: -20px;
    padding-top: 5px;
    padding-left: 5px;
    -webkit-box-shadow: 12px 3px 32px -1px rgba(204, 204, 204, 1);
    -moz-box-shadow: 12px 3px 32px -1px rgba(204, 204, 204, 1);
    box-shadow: 12px 3px 32px -1px rgba(204, 204, 204, 1);
    p {
        position: relative;
        top: 4px;
        left: 5px;
        font-size: 120%;
    }
}

.fas,
.far {
    position: relative;
    top: 8px;
}

$textColor: rgb(14,
4,
100);
$color2: #F8A93F;
