<header>
    <button class="btn" routerLink="../calendar"><img src="https://img.icons8.com/nolan/42/000000/circled-left.png">Go back</button>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" autocomplete="off">
  <div class="example-container">
    <mat-form-field>
      <input class="form" minlength="3" ngModel  name="Email" matInput placeholder="Email" required>
    </mat-form-field>
    <mat-form-field >
      <input class="form" minlength="5" ngModel  [type]="hide ? 'password' : 'text'" name="OldPassword" matInput placeholder="OldPassword" required>
      <mat-icon matSuffix   (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field >
      <input class="form" minlength="5" ngModel  [type]="hide ? 'password' : 'text'" name="NewPassword" matInput placeholder="NewPassword" required>
      <mat-icon matSuffix   (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">Change Password</button>
  </div>

  </form>
  </header>
